<%- contentFor('body') %>
<section>
    <div class="container">
        <div class="content">

            <div class="option-bar">
                <div class="content-option-bar">
                    <div class="title-opt">
                        Option
                    </div>
                    
                    <div class="title-opt">
                        <p>Quantity</p>
                        <input type="text" placeholder="type here">
                    </div>
                </div>
                <div class="obj obj1">OBJ1</div>
            </div>

            <div class="option-drop-bar">
                <div></div>
                <div class="obj obj2">OBJ2</div>
            </div>

        </div>
        
    </div>
    <div class="obj obj3">OBJ3</div>


</section>